@model SteakHouseApp.Models.Food

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DetailsLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Food</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="~/images/@Html.DisplayFor(model => model.Image)" alt="@Html.DisplayFor(model => model.Image)"
                 class="thumbnail" style="width: 70px; height: 70px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chefe.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chefe.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index","Home")
</p>
